workDir="<%= nextflowWorkDir %>/work"
params {
    //accessions
   accessions =  <% if(typeof accessions !== 'undefined') { %><%- JSON.stringify(accessions) %><% } else { %>[]<%} %> 
}

<%- include (profiles) %>

<%- include (nfReports) %>
